$color1 : #f4f5ef;
$color2 : #1a1a1a;
$color3 : #c4c5c0;
$color4 : #989995;
$color5 : #5d5d5b;
@import url(https://fonts.googleapis.com/css?family=Tenor+Sans:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600&display=swap);
$fontT: 'Tennor Sans';
$fontM: 'Montserrat';

html,
body {
    height: 100%;
    line-height: 1;
}

.wrapper {
    overflow: hidden;
    background-color: $color3;
    color: #1a1a1a;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: $fontT;
}

._container {
    margin: 15px auto;
    max-width: 1087px;
    padding: 0 15px;
    @media (max-width: 1115px) {
        max-width: 970px;
    }

    @media (max-width: 998px) {
        max-width: 767px;
    }
}

// // HEADER---------------------------------
.header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    // .header_container {

    .header_menu {

        padding: 0 10px;

        .menu_list {
            display: flex;
            min-height: 100px;
            align-items: center;

            :hover {
                background-color: $color5;
                font-family: $fontT;
            }
            @media (max-width: 775px) {
                display: block;
            }
            
            .menu_items {
                flex: 1 1 20%;
                text-align: center;
                border: 1px solid #1a1a1a;
                border-radius: 5px;
                transition: all 0.5s ease 0s;

                .munu_link {
                    padding: 5px 0px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-size: 20px;
                    letter-spacing: 125%;
                    /* 30/24 */
                    text-decoration: none;
                    color: inherit;
                    font-family: $fontM;
                    
                }
            }
        }
    }
    // }
}
// --Main------------------------------------
.main_container {
    flex: 1 1 auto;
    font-family: $fontM;
    padding: 15px;

    .blockAboutMe {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        border-bottom: 1px solid black;
        @media (max-width: 775px) {
            flex-direction: column;
            text-align: center;
        }

        .block_foto {
            order: 2;
            img{
                width: 290px;
                height: 350px;
            }
        }
        .block_information {
            .block_information_title{
                padding: 0 0 15px 0;
                line-height: 150%;
                font-weight: 500;
                h1{
                    font-size: 24px;
                    padding: 0 0 5px 0;
                }
                h2{
                    font-size: 18px;
                }
            }
            .block_information_text {
                *{
                    padding: 0 0 15px 0;
                }
                a{
                    color: inherit;
                    text-decoration: none;
                    :hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .blockSummary {
        margin: 10px;
        border-bottom: 1px solid black;
        padding: 0 10px 0 0;
        @media (max-width: 1115px) {
        }
        @media (max-width: 998px) {
        }
        @media (max-width: 775px) {
            text-align: center;
        }
        h2{
            font-size: 18px; 
            font-weight: 500;
            padding: 0 0 10px 0;
            box-sizing: border-box;
        }
        p{
            line-height: 1.4;
        }
    }
    .blockInformation {
        display: flex;
        margin: 10px;

        @media (max-width: 1115px) {
            max-width: 970px;
        }
        @media (max-width: 998px) {
            display: block;
            max-width: 767px;
        }
        @media (max-width: 775px) {
            text-align: center;
        }

        ._title{
            font-size: 18px; 
            font-weight: 500;
            padding: 10px 0 10px 0;
            box-sizing: border-box;
        }
        ._list{
            line-height: 1.4;
        }
        .blockProf { 
            flex: 0 0 33.333%;
        }
        .blockExperiance {
            flex: 0 0 33.333%;
        }
        .blockEducation { 
            flex: 0 0 33.333%;
        }
    }
}
.footer{
    font-size: 12px;
    .block_game{
        color: inherit;
        font-size: 14px;
    }
}
